/* Contenedor principal */
.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
  font-family: 'Roboto', sans-serif; /* Usa la fuente de Gmail */
}

/* Barra lateral */
.sidebar {
  background-color: #202124; /* Gris oscuro como Gmail */
  color: white;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh; /* Asegura que ocupe toda la altura */
}

/* Logo y texto en la barra lateral */
.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sidebar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Asegura que el texto sea blanco */
}

/* Estilos de los enlaces de la barra lateral */
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Colores de hover como Gmail */
.sidebar nav ul li a:hover {
  background-color: #1a2585; /* Verde similar al color de Gmail */
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #e7e1e1; /* Fondo claro como Gmail */
  overflow-y: auto;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

/* Aseguramos que cada vista ocupe todo el espacio disponible */
.capa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Limitar el tamaño para que no se expanda demasiado */
  padding: 20px;
  background-color: rgb(252, 251, 251);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  margin-bottom: 15px;
}

form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: rgb(249, 250, 250);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
