/* Contenedor principal */
.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
  font-family: 'Roboto', sans-serif; /* Usa la fuente de Gmail */
}

/* Barra lateral */
.sidebar {
  background-color: #202124;
  color: white;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

/* Logo y texto en la barra lateral */
.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sidebar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

/* Estilos de los enlaces de la barra lateral */
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #1a2585;
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #e7e1e1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(252, 251, 251);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Ajuste de los campos del formulario */
form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Etiquetas de formulario */
form label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

/* Estilos de entrada de texto */
form input, form textarea, form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form input {
  border: 1px solid #ccc;
}

/* Estilo del campo de mensajes (textarea) */
form textarea {
  resize: vertical;
  min-height: 100px;
  border: 1px solid #ccc;
}

/* Estilo del botón */
form button {
  background-color: #333;
  color: rgb(249, 250, 250);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
